/House.class
/HouseTest.class
/NLittleHouses.class
/NLittleHousesTest.class
/SecureBrickHouse.class
/SecureBrickHouseTest.class
/StrawHouse.class
/StrawHouseTest.class
/Wolf.class
/WolfTest.class
/WoodHouse.class
/WoodHouseTest.class
